In [1]:
import json
import math
from scripts_stock.cfg.out_file_name import OutFileName
from scripts_stock.cfg.set_dir import ProjectDir
from scripts_stock.cfg.stock_list import *
from scripts_stock.utils.analysis.stock_stat_index import df_to_stock_df, stock_kdj
import os
from scripts_stock.utils.common import CommonScript
from scripts_stock.utils.string_process import StringProcess

import plotly.figure_factory as ff
import numpy as np
from scripts_stock.data_base.get_table_info import GetDataFromDB
from scripts_stock.utils.datetime.date_function import date_today_yesterday

============ import stock list:  stock_list   ================

In [2]:
today_date, _, two_month_ago = date_today_yesterday(150)

In [17]:

stock_index_in = 601816
start_date = two_month_ago
end_date = today_date
sql_str = f"""
   select distinct stock_index,date,
   small_order_net_inflow_amount,medium_order_net_inflow_amount,
     large_order_net_inflow_amount,
     super_large_order_net_inflow_amount
     from r_t_cash_flow_stocks 
     where date>='{start_date}' and date<='{end_date}'
        
"""

conn = CommonScript.connect_to_db("test.db")
df1 = pd.read_sql_query(sql_str, conn)
df1.tail(4)

,stock_index,date,small_order_net_inflow_amount,medium_order_net_inflow_amount,large_order_net_inflow_amount,super_large_order_net_inflow_amount
29098,600029,2024-12-25,3648382.0,28199292.0,21910677.0,-53758351.0
29099,601288,2024-12-25,15651520.0,42619408.0,38743216.0,-97014160.0
29100,600085,2024-12-25,4218893.0,3675895.0,-6378369.0,-1516419.0
29101,792,2024-12-25,3712419.0,29096132.0,22771523.0,-55580074.0

In [18]:
def normalize_row(row):
    # 获取所有正数和负数
    positive_values = row[row > 0]
    negative_values = row[row < 0]

    # 计算正数和负数的总和
    sum_positive = positive_values.sum()
    sum_negative = negative_values.sum()

    # 避免除以零
    if sum_positive != 0:
        row[row > 0] = positive_values / sum_positive
    if sum_negative != 0:
        row[row < 0] = (negative_values / sum_negative)*-1

    return row


# 应用归一化函数到每一列
df_v2 = df1[["small_order_net_inflow_amount", "medium_order_net_inflow_amount",
    "large_order_net_inflow_amount", "super_large_order_net_inflow_amount"]]
df_normalized2 = df_v2.apply(normalize_row, axis=1)
df_normalized2

,small_order_net_inflow_amount,medium_order_net_inflow_amount,large_order_net_inflow_amount,super_large_order_net_inflow_amount
0,0.057474,0.942526,-0.990696,-0.009304
1,-0.071794,0.957971,-0.928206,0.042029
2,-0.146593,-0.420401,-0.433006,1.000000
3,0.702143,0.212972,0.084885,-1.000000
4,0.214109,-1.000000,0.366144,0.419747
...,...,...,...,...
29097,-0.440979,-0.411677,1.000000,-0.147344
29098,0.067866,0.524556,0.407577,-1.000000
29099,0.161332,0.439311,0.399356,-1.000000
29100,0.534390,0.465610,-0.807922,-0.192078
29101,0.066794,0.523499,0.409707,-1.000000

In [19]:
df_merged = pd.merge(df1, df_normalized2, left_index=True, right_index=True)
df_merged.round(3)

,stock_index,date,small_order_net_inflow_amount_x,medium_order_net_inflow_amount_x,large_order_net_inflow_amount_x,super_large_order_net_inflow_amount_x,small_order_net_inflow_amount_y,medium_order_net_inflow_amount_y,large_order_net_inflow_amount_y,super_large_order_net_inflow_amount_y
0,69,2024-07-29,281670.0,4619186.0,-4855257.0,-45599.0,0.057,0.943,-0.991,-0.009
1,69,2024-07-30,-181497.0,2421767.0,-2346518.0,106249.0,-0.072,0.958,-0.928,0.042
2,69,2024-07-31,-1482745.0,-4252232.0,-4379730.0,10114708.0,-0.147,-0.420,-0.433,1.000
3,69,2024-08-01,5326910.0,1615740.0,643995.0,-7586645.0,0.702,0.213,0.085,-1.000
4,69,2024-08-02,878548.0,-4103274.0,1502390.0,1722336.0,0.214,-1.000,0.366,0.420
...,...,...,...,...,...,...,...,...,...,...
29097,601857,2024-12-25,-56334384.0,-52591104.0,127748448.0,-18822944.0,-0.441,-0.412,1.000,-0.147
29098,600029,2024-12-25,3648382.0,28199292.0,21910677.0,-53758351.0,0.068,0.525,0.408,-1.000
29099,601288,2024-12-25,15651520.0,42619408.0,38743216.0,-97014160.0,0.161,0.439,0.399,-1.000
29100,600085,2024-12-25,4218893.0,3675895.0,-6378369.0,-1516419.0,0.534,0.466,-0.808,-0.192
29101,792,2024-12-25,3712419.0,29096132.0,22771523.0,-55580074.0,0.067,0.523,0.410,-1.000

In [29]:
mask = df_merged["super_large_order_net_inflow_amount_y"].isin([-1])

# 使用布尔索引来获取符合条件的行
rows_with_1_or_neg1 = df_merged[mask]
rows_with_1_or_neg1.sort_values("date",ascending=False).head(60)

,stock_index,date,small_order_net_inflow_amount_x,medium_order_net_inflow_amount_x,large_order_net_inflow_amount_x,super_large_order_net_inflow_amount_x,small_order_net_inflow_amount_y,medium_order_net_inflow_amount_y,large_order_net_inflow_amount_y,super_large_order_net_inflow_amount_y
29101,792,2024-12-25,3712419.0,29096132.0,22771523.0,-55580074.0,0.066794,0.523499,0.409707,-1.0
28998,600061,2024-12-25,14323046.0,7585606.0,12871448.0,-34780100.0,0.411817,0.218102,0.370081,-1.0
28860,600760,2024-12-25,51508026.0,729211.0,7566707.0,-59803944.0,0.861281,0.012193,0.126525,-1.0
28862,601211,2024-12-25,3408457.0,19276163.0,18562144.0,-41246764.0,0.082636,0.467338,0.450027,-1.0
28867,617,2024-12-25,901963.0,4817847.0,7031161.0,-12750970.0,0.070737,0.377842,0.551422,-1.0
28897,601138,2024-12-25,175336400.0,103724832.0,2742912.0,-281804160.0,0.622192,0.368074,0.009733,-1.0
28937,601818,2024-12-25,10065803.0,6023162.0,6620612.0,-22709576.0,0.443240,0.265226,0.291534,-1.0
28955,600031,2024-12-25,279436.0,188626.0,501968.0,-970029.0,0.288069,0.194454,0.517477,-1.0
28960,601006,2024-12-25,122475910.0,36166940.0,19697168.0,-178340021.0,0.686755,0.202798,0.110447,-1.0
28964,977,2024-12-25,189653344.0,101828528.0,57023104.0,-348504960.0,0.544191,0.292187,0.163622,-1.0
28988,601868,2024-12-25,27539394.0,25953222.0,10754574.0,-64247191.0,0.428647,0.403959,0.167394,-1.0
28970,601229,2024-12-25,30810947.0,25564387.0,4155056.0,-60530389.0,0.509016,0.422340,0.068644,-1.0
29042,601988,2024-12-25,34437136.0,39975648.0,66132304.0,-140545101.0,0.245026,0.284433,0.470542,-1.0
29084,651,2024-12-25,24462960.0,20376320.0,11062848.0,-55902137.0,0.437603,0.364500,0.197897,-1.0
29099,601288,2024-12-25,15651520.0,42619408.0,38743216.0,-97014160.0,0.161332,0.439311,0.399356,-1.0
29098,600029,2024-12-25,3648382.0,28199292.0,21910677.0,-53758351.0,0.067866,0.524556,0.407577,-1.0
29044,2236,2024-12-25,8222087.0,7113378.0,13664269.0,-28999733.0,0.283523,0.245291,0.471186,-1.0
29085,600837,2024-12-25,18367943.0,57825504.0,27429266.0,-103622712.0,0.177258,0.558039,0.264703,-1.0
29087,600030,2024-12-25,234673856.0,102726144.0,75624352.0,-413024336.0,0.568184,0.248717,0.183099,-1.0
29075,601618,2024-12-25,11318662.0,423678.0,1897690.0,-13640031.0,0.829812,0.031061,0.139127,-1.0
29065,601669,2024-12-25,121634629.0,40686096.0,29836530.0,-192157257.0,0.632995,0.211733,0.155271,-1.0
29048,2120,2024-12-25,1201763.0,4599548.0,3703136.0,-9504447.0,0.126442,0.483936,0.389621,-1.0
28773,601216,2024-12-24,100548177.0,15550352.0,1767912.0,-117866444.0,0.853069,0.131932,0.014999,-1.0
28638,600919,2024-12-24,48899482.0,21582640.0,21885168.0,-92367280.0,0.529403,0.233661,0.236936,-1.0
28691,600050,2024-12-24,53268688.0,25109968.0,38014480.0,-116393136.0,0.457662,0.215734,0.326604,-1.0
28717,601658,2024-12-24,5628945.0,58474818.0,36486899.0,-100590672.0,0.055959,0.581315,0.362727,-1.0
28748,600061,2024-12-24,7065366.0,8703050.0,18793039.0,-34561455.0,0.204429,0.251814,0.543757,-1.0
28766,601668,2024-12-24,76920653.0,64683726.0,22014578.0,-163618951.0,0.470121,0.395331,0.134548,-1.0
28768,601816,2024-12-24,12885273.0,24687802.0,12475706.0,-50048775.0,0.257454,0.493275,0.249271,-1.0
28825,601618,2024-12-24,1061942.0,10141443.0,2823339.0,-14026723.0,0.075708,0.723009,0.201283,-1.0
28792,601988,2024-12-24,20780249.0,18883516.0,83889519.0,-123553292.0,0.168189,0.152837,0.678974,-1.0
28819,603019,2024-12-24,169758496.0,44828912.0,22325728.0,-236913152.0,0.716543,0.189221,0.094236,-1.0
28828,600028,2024-12-24,11902528.0,14898576.0,26298960.0,-53100074.0,0.224153,0.280575,0.495272,-1.0
28844,2129,2024-12-24,46802029.0,43891951.0,12538248.0,-103232229.0,0.453366,0.425177,0.121457,-1.0
28850,600085,2024-12-24,28060222.0,26216708.0,12132474.0,-66409403.0,0.422534,0.394774,0.182692,-1.0
28352,601100,2024-12-23,14619006.0,29331173.0,3280190.0,-47230368.0,0.309526,0.621024,0.069451,-1.0
28357,601238,2024-12-23,43456671.0,8069941.0,5121920.0,-56648532.0,0.767128,0.142456,0.090416,-1.0
28429,601377,2024-12-23,3046220.0,4728520.0,1505174.0,-9279915.0,0.328260,0.509544,0.162197,-1.0
28461,2714,2024-12-23,62030432.0,1107184.0,4892923.0,-68030528.0,0.911803,0.016275,0.071922,-1.0
28499,600905,2024-12-23,21537970.0,10680904.0,18091031.0,-50309905.0,0.428106,0.212302,0.359592,-1.0
28533,2074,2024-12-23,12864988.0,923487.0,5282982.0,-19071458.0,0.674568,0.048422,0.277010,-1.0
28536,63,2024-12-23,596428144.0,142658912.0,66534032.0,-805621088.0,0.740333,0.177079,0.082587,-1.0
28564,600010,2024-12-23,62719230.0,3333258.0,15151352.0,-81203841.0,0.772368,0.041048,0.186584,-1.0
28586,600795,2024-12-23,19728730.0,1987298.0,14627250.0,-36343278.0,0.542844,0.054681,0.402475,-1.0
28592,600219,2024-12-23,35957751.0,3929246.0,18683541.0,-58570538.0,0.613922,0.067086,0.318992,-1.0
28601,792,2024-12-23,14599200.0,8908895.0,13996405.0,-37504500.0,0.389265,0.237542,0.373193,-1.0
28192,2050,2024-12-20,7674176.0,87758080.0,2616192.0,-98048438.0,0.078269,0.895048,0.026683,-1.0
28111,601211,2024-12-20,35479368.0,18899086.0,8167197.0,-62545651.0,0.567256,0.302165,0.130580,-1.0
28146,601138,2024-12-20,173369664.0,12898208.0,6956256.0,-193224128.0,0.897246,0.066753,0.036001,-1.0
28156,600111,2024-12-20,31451428.0,29536448.0,35712723.0,-96700600.0,0.325245,0.305442,0.369312,-1.0
28163,100,2024-12-20,196232320.0,168332064.0,38972768.0,-403537168.0,0.486281,0.417141,0.096578,-1.0
28190,600050,2024-12-20,151281136.0,172328704.0,71023072.0,-394632896.0,0.383346,0.436681,0.179973,-1.0
28184,601995,2024-12-20,21695154.0,5654727.0,6156484.0,-33506364.0,0.647494,0.168766,0.183741,-1.0
28286,63,2024-12-20,421779904.0,3488816.0,197860832.0,-623129600.0,0.676874,0.005599,0.317528,-1.0
28293,601628,2024-12-20,10218351.0,4894946.0,8843715.0,-23957012.0,0.426529,0.204322,0.369149,-1.0
28297,2415,2024-12-20,31924240.0,24904512.0,17995457.0,-74824199.0,0.426657,0.332840,0.240503,-1.0
28307,2920,2024-12-20,36134413.0,19071882.0,13436579.0,-68642873.0,0.526412,0.277842,0.195746,-1.0
28344,2129,2024-12-20,16472921.0,10517717.0,17999295.0,-44989932.0,0.366147,0.233779,0.400074,-1.0
27989,601169,2024-12-19,19109389.0,9520834.0,9300732.0,-37930954.0,0.503794,0.251004,0.245202,-1.0
27856,157,2024-12-19,9460404.0,5525411.0,2686371.0,-17672185.0,0.535327,0.312661,0.152011,-1.0

In [25]:
rows_with_1_or_neg1[rows_with_1_or_neg1["stock_index"] == 792]

,stock_index,date,small_order_net_inflow_amount_x,medium_order_net_inflow_amount_x,large_order_net_inflow_amount_x,super_large_order_net_inflow_amount_x,small_order_net_inflow_amount_y,medium_order_net_inflow_amount_y,large_order_net_inflow_amount_y,super_large_order_net_inflow_amount_y
28351,792,2024-12-20,-52727970.0,-32323701.0,-18687564.0,103739236.0,-0.508274,-0.311586,-0.18014,1.0

In [11]:
rows_with_1_or_neg1[rows_with_1_or_neg1["date"]=='2024-11-01']

,stock_index,date,small_order_net_inflow_amount_x,medium_order_net_inflow_amount_x,large_order_net_inflow_amount_x,super_large_order_net_inflow_amount_x,small_order_net_inflow_amount_y,medium_order_net_inflow_amount_y,large_order_net_inflow_amount_y,super_large_order_net_inflow_amount_y
18568,601117,2024-11-01,-9744165.0,-9136335.0,-4927314.0,23807813.0,-0.409284,-0.383754,-0.206962,1.0
18595,600111,2024-11-01,-363630727.0,-344495264.0,-174254240.0,882380224.0,-0.412102,-0.390416,-0.197482,1.0
18602,601319,2024-11-01,-2563461.0,-3825407.0,-15489352.0,21878220.0,-0.117170,-0.174850,-0.707980,1.0
18609,600941,2024-11-01,-71345789.0,-4926208.0,-19659456.0,95931445.0,-0.743716,-0.051351,-0.204932,1.0
18617,600900,2024-11-01,-72923840.0,-102235552.0,-34285936.0,209445328.0,-0.348176,-0.488125,-0.163699,1.0
18618,601888,2024-11-01,-53728576.0,-32502896.0,-503408.0,86734874.0,-0.619458,-0.374738,-0.005804,1.0
18623,601390,2024-11-01,-85650256.0,-37974976.0,-20718848.0,144344067.0,-0.593376,-0.263086,-0.143538,1.0
18635,600050,2024-11-01,-41107040.0,-124090816.0,-17807328.0,183005184.0,-0.224622,-0.678073,-0.097305,1.0
18671,2460,2024-11-01,-105220384.0,-55662144.0,-8137520.0,169020044.0,-0.622532,-0.329323,-0.048145,1.0
18678,601838,2024-11-01,-16335646.0,-14356284.0,-34690967.0,65382897.0,-0.249846,-0.219572,-0.530582,1.0
18726,1,2024-11-01,-16802608.0,-73411264.0,-34011504.0,124225376.0,-0.135259,-0.590952,-0.273789,1.0
18733,2001,2024-11-01,-29603792.0,-39047088.0,-17374768.0,86025640.0,-0.344128,-0.453901,-0.201972,1.0
18737,601766,2024-11-01,-40453440.0,-10958016.0,-5748144.0,57159602.0,-0.707728,-0.191709,-0.100563,1.0
18784,603833,2024-11-01,-22503894.0,-4628838.0,-1286362.0,28419094.0,-0.791858,-0.162878,-0.045264,1.0
18788,600010,2024-11-01,-386682472.0,-405600975.0,-140305088.0,932588544.0,-0.414634,-0.434920,-0.150447,1.0
18811,600795,2024-11-01,-23009879.0,-21772357.0,-20594795.0,65377032.0,-0.351957,-0.333028,-0.315016,1.0
18826,601857,2024-11-01,-15151168.0,-128400528.0,-3303408.0,146855120.0,-0.103171,-0.874335,-0.022494,1.0

In [78]:
def large_bigger_super(df1):
    df2 = df1[(df1["large_order_net_inflow_amount"] > df1["super_large_order_net_inflow_amount"])
        & (df1["large_order_net_inflow_amount"] >0)&(df1["super_large_order_net_inflow_amount"]>0)]
    df2["rr"] = df2["large_order_net_inflow_amount"] / \
        df2["super_large_order_net_inflow_amount"]
    df3 = df2[["stock_index","date","rr"]]
    return df3

In [91]:
def mid_bigger_large(df1):
    df2 = df1[(df1["medium_order_net_inflow_amount"] > df1["large_order_net_inflow_amount"])
              & (df1["medium_order_net_inflow_amount"] > 0) & (df1["large_order_net_inflow_amount"] > 0)]
    df2["rr"] = df2["medium_order_net_inflow_amount"] / \
        df2["large_order_net_inflow_amount"]
    df3 = df2[["stock_index", "date", "rr"]]
    return df3

In [92]:
df_list = []
for stock_in in df1["stock_index"].unique():
    try:
        # print(stock_in)
        df2 = df1[df1["stock_index"] == stock_in]
        df_v1 = mid_bigger_large(df2)
        df_list.append(df_v1)
    except:
        pass

df_out = pd.concat(df_list)

In [93]:
df_out1 = df_out[df_out["rr"] > 10]
df_out1.sort_values(["rr"]).tail(30)
#df_out1[df_out1["stock_index"] == 600362]

       stock_index        date            rr
9969        300347  2024-08-16    167.815248
8009        300661  2024-08-16    167.815248
11859       300223  2024-08-16    167.815248
7514        300408  2024-08-16    167.815248
3159        300979  2024-08-16    167.815248
7829        300769  2024-08-16    167.815248
7469        300124  2024-08-16    167.815248
3384        300014  2024-08-16    167.815248
3339        300760  2024-08-16    167.815248
5624        300274  2024-08-16    167.815248
12484       600837  2024-08-09    174.787712
6471        600183  2024-08-06    183.412130
4588          2414  2024-08-01    194.365454
3915        600900  2024-08-05    198.784405
8821        600886  2024-09-03    205.555801
1084        600016  2024-08-09    250.037566
14356       603185  2024-10-11    255.266395
19434       601901  2024-11-06    317.004440
3235        600346  2024-07-29    354.447062
11562       601669  2024-09-11    381.848458
4370        603501  2024-08-12    405.114341
6698        601838  2024-08-08    410.011965
26957       600176  2024-12-13    450.254703
9259        601766  2024-08-16    672.058097
21955       601006  2024-11-18   1030.762985
27383       601225  2024-12-17   1213.614396
3918        600900  2024-08-08   1382.495698
25341         2241  2024-12-05   3143.098958
9580        601689  2024-08-26   6820.301270
5298        600741  2024-08-01  14332.314726

In [45]:
def get_stock_ind(df1,start_date,end_date):
    df2 = df1[(df1["date"] >= start_date) & (df1["date"] <= end_date)
              & (df1["super_large_order_net_inflow_amount"] > 0)]


    df2["super_averge_ratio"] = df2["super_large_order_net_inflow_amount"] / \
        df2["super_large_order_net_inflow_amount"].mean()
    df3 = df2[df2["super_averge_ratio"] > 3]
    return df3

In [40]:
df1["stock_index"].unique()[0:2]

array([601100,   2241])

In [48]:
df_list = []
for stock_in in df1["stock_index"].unique():
    try:
        #print(stock_in)
        df2 = df1[df1["stock_index"]==stock_in]
        df_v1 = get_stock_ind(df2, start_date, end_date)
        df_list.append(df_v1)
    except:
        pass

df_out = pd.concat(df_list)
df_out

,stock_index,date,super_large_order_net_inflow_amount,super_averge_ratio
5096,601100,2024-11-20,80258020.0,4.265283
8506,601100,2024-12-09,131981011.0,7.014083
3297,2241,2024-11-12,793780800.0,3.681632
2398,601901,2024-11-07,152591008.0,3.045570
7755,601901,2024-12-04,178411580.0,3.560924
...,...,...,...,...
8502,600029,2024-12-06,75128644.0,3.357195
10009,601288,2024-12-16,659553952.0,4.131366
4493,300496,2024-11-15,111910315.0,3.486302
3294,600085,2024-11-11,42291124.0,3.003173
11015,792,2024-12-20,103739236.0,3.945454

In [53]:
df_out1 = df_out[df_out["super_averge_ratio"]>5].sort_values("date", ascending=False)
df_out1.head(3)

,stock_index,date,super_large_order_net_inflow_amount,super_averge_ratio
11054,601985,2024-12-23,3.938456e+08,5.365327
10626,977,2024-12-19,2.335988e+09,5.920987
10320,601998,2024-12-18,8.596722e+07,5.214074

In [61]:
-4658390-10171734+14685301+144823

0

In [60]:
df_kdj = pd.read_csv("/home/davidyu/vscode/data/analysis_data/stock_kdj_daily_last60.csv")
df_kdj1 = df_kdj[["stock_index", "date","kdjj"]]
df_out2 = df_out1.merge(df_kdj1)
df_out2.sort_values("kdjj")

,stock_index,date,super_large_order_net_inflow_amount,super_averge_ratio,kdjj
2,601998,2024-12-18,8.596722e+07,5.214074,-3.666
17,69,2024-11-18,9.278558e+07,5.374613,9.484
57,600039,2024-10-31,7.893310e+07,5.195172,12.732
9,601021,2024-11-29,4.596460e+07,7.169596,16.257
19,600015,2024-11-18,1.167961e+08,5.399487,36.853
14,2756,2024-11-19,7.244904e+07,5.460868,37.279
18,601618,2024-11-18,1.216586e+08,5.305949,40.424
21,601816,2024-11-15,3.039612e+08,5.333845,44.746
12,2074,2024-11-25,1.884894e+08,5.475909,45.965
16,600884,2024-11-18,2.262706e+08,9.606358,48.670
13,600276,2024-11-20,3.769183e+08,5.415993,57.726
10,603806,2024-11-27,1.013201e+08,5.255074,57.994
50,617,2024-11-05,6.900587e+08,5.056159,58.946
55,601800,2024-11-01,5.204951e+08,5.568942,59.500
48,600000,2024-11-06,1.177611e+08,7.118054,63.195
29,601012,2024-11-11,3.218418e+08,5.322630,66.608
25,600050,2024-11-13,1.462500e+09,5.515861,66.776
0,601985,2024-12-23,3.938456e+08,5.365327,67.355
49,600893,2024-11-05,6.942298e+08,8.995261,67.357
26,601989,2024-11-13,2.839160e+08,5.237835,67.830
15,601186,2024-11-18,3.504293e+08,5.298191,67.929
47,2050,2024-11-06,7.892179e+08,5.643505,72.657
52,600570,2024-11-05,7.254638e+08,8.493118,79.720
20,601006,2024-11-15,1.707035e+08,5.660515,80.081
1,977,2024-12-19,2.335988e+09,5.920987,80.463
37,858,2024-11-07,1.146695e+09,6.071013,83.848
11,601615,2024-11-27,1.180505e+08,6.459790,85.120
22,605117,2024-11-14,3.806058e+08,7.541031,86.454
45,601601,2024-11-07,3.026745e+08,5.746323,86.869
39,603369,2024-11-07,5.455110e+07,8.088622,87.068
38,603290,2024-11-07,1.533295e+08,5.736623,88.647
3,601100,2024-12-09,1.319810e+08,7.014083,89.584
53,603185,2024-11-04,2.309662e+08,7.468609,90.229
51,2709,2024-11-05,4.524531e+08,5.984765,92.367
4,600183,2024-12-06,1.454248e+08,5.550936,92.437
59,2414,2024-10-31,7.065210e+07,5.004997,92.904
58,2459,2024-10-31,4.369487e+08,6.735603,93.299
8,601238,2024-12-02,1.996455e+08,5.134809,93.423
23,605117,2024-11-14,3.806058e+08,7.541031,94.229
54,600031,2024-11-01,2.840320e+08,7.568797,95.089
30,2812,2024-11-11,1.464412e+08,6.643506,96.392
42,601318,2024-11-07,1.200327e+09,7.122664,96.756
36,603288,2024-11-07,8.465857e+07,5.527360,96.829
5,603259,2024-12-06,5.113512e+08,5.474007,97.089
31,625,2024-11-11,2.302024e+09,8.637944,97.680
44,600048,2024-11-07,4.105887e+08,5.098743,97.715
7,600132,2024-12-05,6.796186e+07,6.003987,97.765
40,600436,2024-11-07,1.425948e+08,6.794055,97.926
43,601319,2024-11-07,1.129249e+08,5.196911,99.706
6,600132,2024-12-05,6.796186e+07,6.003987,99.870
41,601377,2024-11-07,1.926872e+08,5.340086,100.018
27,2230,2024-11-13,1.858519e+09,7.443833,100.416
24,301,2024-11-14,1.640300e+08,8.045413,102.187
56,600111,2024-11-01,8.823802e+08,6.571979,104.929
46,601066,2024-11-06,5.213731e+08,5.856220,106.014
34,601628,2024-11-07,1.835917e+08,5.940901,106.191
32,600588,2024-11-11,3.755470e+08,7.782998,106.786
35,2304,2024-11-07,2.278675e+08,6.062705,107.741
28,2049,2024-11-11,2.988379e+08,5.443217,111.238
33,600760,2024-11-08,9.492573e+08,6.515798,111.778

In [25]:
print(today_date)
print(one_month_ago)

2024-12-25
2024-10-26

In [26]:
df2 = df1[(df1["date"] >= start_date) & (df1["date"] <= today_date)
          & (df1["super_large_order_net_inflow_amount"]>0)]

df2["super_averge_ratio"] = df2["super_large_order_net_inflow_amount"] / \
    df2["super_large_order_net_inflow_amount"].mean()
df3 = df2[df2["super_averge_ratio"] > 3]

56987253.722222224

In [29]:

df3

,stock_index,date,super_large_order_net_inflow_amount,super_averge_ratio
147,601816,2024-11-15,303961168.0,5.333845
163,601816,2024-12-09,177251472.0,3.110370
167,601816,2024-12-13,183839136.0,3.225969

In [9]:
default_col_name = "super_large_order_net_inflow_amount"
print(default_col_name)
cash_flow_columns = {
    '小单': "small_order_net_inflow_amount",
    '超大单': "super_large_order_net_inflow_amount",
    '大单': "large_order_net_inflow_amount",
    "中单": "medium_order_net_inflow_amount",
}
selected_column = cash_flow_columns.get(
    "中单")

print(default_col_name)
print(selected_column)

super_large_order_net_inflow_amount
super_large_order_net_inflow_amount
medium_order_net_inflow_amount

In [3]:
import pandas as pd
raw_col = ['SECURITY_CODE', 'SECURITY_NAME_ABBR', 'TRADE_MARKET_CODE',
           'TRADE_MARKET', 'SECURITY_TYPE_CODE', 'SECURITY_TYPE', 'UPDATE_DATE',
           'REPORTDATE', 'BASIC_EPS', 'DEDUCT_BASIC_EPS', 'TOTAL_OPERATE_INCOME',
           'PARENT_NETPROFIT', 'WEIGHTAVG_ROE', 'YSTZ', 'SJLTZ', 'BPS', 'MGJYXJJE',
           'XSMLL', 'YSHZ', 'SJLHZ', 'ASSIGNDSCRPT', 'PAYYEAR', 'PUBLISHNAME',
           'ZXGXL', 'NOTICE_DATE', 'ORG_CODE', 'TRADE_MARKET_ZJG', 'ISNEW',
           'QDATE', 'DATATYPE', 'DATAYEAR', 'DATEMMDD', 'EITIME', 'SECUCODE']


col_name = [
    "stock_index",
    "stock_name",
    "TRADE_MARKET_CODE",
    "TRADE_MARKET",
    "SECURITY_TYPE_CODE",
    "SECURITY_TYPE",
    "UPDATE_DATE",
    "REPORTDATE",
    "每股收益",
    "DEDUCT_BASIC_EPS",
    "营业总收入",
    "净利润",
    "净资产收益率",
    "营业总收入同比增长率",
    "净利润同比增长率",
    "每股净资产",
    "每股经营现金流",
    "销售毛利率",
    "营业总收入季度环比增长",
    "净利润季度环比增长",
    "分红",
    "PAYYEAR",
    "行业",
    "ZXGXL",
    "NOTICE_DATE",
    "ORG_CODE",
    "TRADE_MARKET_ZJG",
    "ISNEW",
    "QDATE",
    "DATATYPE",
    "DATAYEAR",
    "DATEMMDD",
    "EITIME",
    "SECUCODE"
]

pd.DataFrame([raw_col, col_name]).T

                       0                   1
0          SECURITY_CODE         stock_index
1     SECURITY_NAME_ABBR          stock_name
2      TRADE_MARKET_CODE   TRADE_MARKET_CODE
3           TRADE_MARKET        TRADE_MARKET
4     SECURITY_TYPE_CODE  SECURITY_TYPE_CODE
5          SECURITY_TYPE       SECURITY_TYPE
6            UPDATE_DATE         UPDATE_DATE
7             REPORTDATE          REPORTDATE
8              BASIC_EPS                每股收益
9       DEDUCT_BASIC_EPS    DEDUCT_BASIC_EPS
10  TOTAL_OPERATE_INCOME               营业总收入
11      PARENT_NETPROFIT                 净利润
12         WEIGHTAVG_ROE              净资产收益率
13                  YSTZ          营业总收入同比增长率
14                 SJLTZ            净利润同比增长率
15                   BPS               每股净资产
16              MGJYXJJE             每股经营现金流
17                 XSMLL               销售毛利率
18                  YSHZ         营业总收入季度环比增长
19                 SJLHZ           净利润季度环比增长
20          ASSIGNDSCRPT                  分红
21               PAYYEAR             PAYYEAR
22           PUBLISHNAME                  行业
23                 ZXGXL               ZXGXL
24           NOTICE_DATE         NOTICE_DATE
25              ORG_CODE            ORG_CODE
26      TRADE_MARKET_ZJG    TRADE_MARKET_ZJG
27                 ISNEW               ISNEW
28                 QDATE               QDATE
29              DATATYPE            DATATYPE
30              DATAYEAR            DATAYEAR
31              DATEMMDD            DATEMMDD
32                EITIME              EITIME
33              SECUCODE            SECUCODE