In [1]:
import math
from scripts_stock.cfg.out_file_name import OutFileName
from scripts_stock.cfg.set_dir import ProjectDir
from scripts_stock.cfg.stock_list import *
from scripts_stock.utils.analysis.stock_stat_index import df_to_stock_df, stock_kdj
import os
from scripts_stock.utils.common import CommonScript
from scripts_stock.utils.string_process import StringProcess

def get_data_sql_str(stock_index):
    return f"""SELECT *  FROM prd_t_fuquan_dfcf  where date>='2024-08-01' and date<='2024-09-01' """


conn = CommonScript.connect_to_db("test.db")
cursor = conn.cursor()
df1 = pd.read_sql_query(get_data_sql_str("601398"),conn)
df1

============ import stock list:  stock_list   ================

,date,open,close,high,low,stock_index,update_time
0,2024-08-01,7.85,7.74,7.94,7.73,600011,2024-10-08 00:54:17.741153
1,2024-08-02,7.68,7.54,7.74,7.49,600011,2024-10-08 00:54:17.741153
2,2024-08-05,7.52,7.37,7.53,7.36,600011,2024-10-08 00:54:17.741153
3,2024-08-06,7.42,7.52,7.52,7.35,600011,2024-10-08 00:54:17.741153
4,2024-08-07,7.48,7.54,7.59,7.46,600011,2024-10-08 00:54:17.741153
...,...,...,...,...,...,...,...
5510,2024-08-26,25.53,26.39,26.95,25.53,2460,2024-10-08 00:54:17.741153
5511,2024-08-27,26.39,26.04,26.47,25.70,2460,2024-10-08 00:54:17.741153
5512,2024-08-28,25.88,25.97,25.99,25.46,2460,2024-10-08 00:54:17.741153
5513,2024-08-29,25.77,26.39,26.66,25.34,2460,2024-10-08 00:54:17.741153
5514,2024-08-30,26.30,27.33,27.84,26.21,2460,2024-10-08 00:54:17.741153

In [7]:
df2 = df1[df1['stock_index']==600011][["date","close","stock_index"]]
df3 = df1[df1['stock_index']==895][["date","close","stock_index"]]
merged_df = pd.merge(df2, df3, on='date', how='inner')
merged_df.head(2)

correlation = merged_df['close_x'].corr(merged_df['close_y'], method='pearson')
correlation

-0.10339113535903083

In [26]:
from socket import AF_AX25


stock_index1 = []
stock_index2 = []
corr_list = []
stock_combine = []
stock_list_uni = df1['stock_index'].unique()
for i in stock_list_uni:
    for k in stock_list_uni:
        aa = [str(i),str(k)]
        aa.sort()
        aa1 = '_'.join(aa)
        if i!=k and aa1 not in stock_combine:
            df2 = df1[df1['stock_index']==i][["date","close","stock_index"]]
            df3 = df1[df1['stock_index']==k][["date","close","stock_index"]]
            merged_df = pd.merge(df2, df3, on='date', how='inner')
            correlation = merged_df['close_x'].corr(merged_df['close_y'], method='pearson')
            stock_index1.append(i)
            stock_index2.append(k)
            corr_list.append(round(correlation,2))
            stock_combine.append(aa1)

In [17]:

# åˆ›å»ºDataFrame
df_out = pd.DataFrame({
    'stock_index1': stock_index1,
    'stock_index2': stock_index2,
    'corr': corr_list
})
df_out.sort_values("corr",ascending=False)

       stock_index1  stock_index2  corr
52642          2812        603659  0.99
54411        600570        600588  0.99
40466        600588        600570  0.99
9461           2129        601012  0.99
40775        601939        601398  0.99
...             ...           ...   ...
40943        601939        603185 -0.95
59194        601988        603185 -0.96
48735        603185        601988 -0.96
48525        603185        601398 -0.97
6443         601398        603185 -0.97

[62750 rows x 3 columns]

In [24]:
aa

In [25]:
i=22
k=232
aa = [str(i),str(k)]
aa.sort()
aa1 = '_'.join(aa)
aa1

'22_232'

In [2]:
df1['return_ratio'] = df1['close'] / df1['close'].shift(1)
df1

,date,open,close,high,low,stock_index,update_time,return_ratio
0,2012-05-29,0.85,0.87,0.88,0.83,601398,2024-09-30 00:54:26.629962,NaN
1,2012-05-30,0.86,0.87,0.90,0.83,601398,2024-09-30 00:54:26.629962,1.000000
2,2012-06-01,0.86,0.89,0.89,0.83,601398,2024-09-30 00:54:26.629962,1.022989
3,2012-06-04,0.87,0.82,0.87,0.80,601398,2024-09-30 00:54:26.629962,0.921348
4,2012-06-05,0.84,0.85,0.89,0.83,601398,2024-09-30 00:54:26.629962,1.036585
...,...,...,...,...,...,...,...,...
2995,2024-09-23,5.66,5.72,5.74,5.62,601398,2024-09-30 00:54:26.629962,1.008818
2996,2024-09-24,5.75,6.00,6.00,5.73,601398,2024-09-30 00:54:26.629962,1.048951
2997,2024-09-25,6.09,6.04,6.22,5.97,601398,2024-09-30 00:54:26.629962,1.006667
2998,2024-09-26,6.04,6.20,6.21,6.00,601398,2024-09-30 00:54:26.629962,1.026490
2999,2024-09-27,6.25,6.01,6.34,5.92,601398,2024-09-30 00:54:26.629962,0.969355